@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Details";
}
<h1>Person Details</h1>

<table class="table">
    <tr>
        <th>Person Name</th>
        <td>@ViewBag.Name</td>
    </tr>
    <tr>
        <th>Person Mobile Number</th>
        <td>@ViewBag.Mobile</td>
    </tr>
    <tr>
        <th>Gender</th>
        <td>@ViewBag.Gender</td>
    </tr>
    <tr>
        <th>City</th>
        <td>@ViewBag.City</td>
    </tr>
    <tr>
        <th>Hobbies</th>
        <td>
            @foreach (String s in ViewBag.Hobbies)
            {
                <p>
                    @s
                </p>
            }
        </td>
    </tr>
</table>
