
@{
    ViewData["Title"] = "EmployeeDetails";
}

<h1>EmployeeDetails</h1>
<table class="table">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Salary</th>
    </tr>
    <tr>
        <th>@ViewBag.Id</th>
        <th>@ViewBag.Name</th>
        <th>@ViewBag.Salary</th>
    </tr>


</table>

